.modal {
   width: 98%;
   min-height: 250px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: var(--primary-color);
   padding: 1rem;
   border-radius: 1rem;
   box-shadow: 1px 1px 50px var(--box-shadow-color);
}

.modal__header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 1rem;
   padding-bottom: 0.5rem;
}

.icon {
   width: 2.2rem;
   height: 2.2rem;
}

.modal__header .close {
   color: red;
}

.modal__header .title {
   color: var(--secondary-color);
   margin-bottom: 0;
}

@media (min-width: 768px) {
   .modal {
      max-width: 50rem;
   }
}

.backdrop {
   width: 100vw;
   height: 100vh;
   position: fixed;
   inset: 0;
   background-color: rgba(63, 69, 76, 0.8);
}
