.warn{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.category__detail{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content : space-between;
}


@media screen and (min-width:768px) {
    .warn{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .category__detail{
        width: 40%;
    }
}
