.nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: #2E294E;
    color: #f1e9da;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.25);
    margin-bottom: 50px;
}

.nav h1{
    font-size: 2.6rem;
}

.nav span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    width: 20px;
    height: 20px;
    border: 1px solid #f1e9da;
    border-radius: 100%;
}